<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="images/logo-icon-removebg-preview.png">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <style>
        .logo a {
            text-decoration: none;
            color: inherit;
            display: flex;
            align-items: center;
        }

        .logo img {
            height: 65px;
            margin-right: 5px;
            background-color: transparent;
        }

        .logo a:hover, .logo a:focus, .logo a:active {
            color: inherit;
        }
    </style>
</head>
<body>
    <header>
        <span class="logo">
            <a href="/">
                <img src="~/images/logo-icon-removebg-preview.png" alt="Logo Icon">
                BIGeek
            </a>
        </span>
        <nav>
            <form class="search-form" action="/search" method="GET">
                <input type="search" name="query" required>
                <button type="submit" class="search-btn">Шукати</button>
            </form>
            <a href="/buy"> Кошик </a>
            <a href="/login" id="loginLink">Ввійти</a>
        </nav>
    </header>
    <div class="main-container">
        @if (ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "Index")
        {
            <aside class="sidebar">
                <h3>Категорії</h3>
                <ul class="category-list">
                    <li><a href="/category/smartphones">Смартфони</a></li>
                    <li><a href="/category/laptops">Ноутбуки</a></li>
                    <li><a href="/category/tablets">Планшети</a></li>
                </ul>
            </aside>
        }
        <main class="products-container">
            @RenderBody()
        </main>
    </div>
</body>
</html>
