* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 80%;
    padding: 15px 10%;
    color: #f44236;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border-bottom: 2px solid #800;
}

    header .logo {
        font-weight: 600;
        font-size: 45px;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    header form.search-form {
        display: flex;
        align-items: center;
        margin: 0 50px;
    }

input[type="search"] {
    padding: 5px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 650px;
}

button.search-btn {
    padding: 8px 10px;
    margin-left: 5px;
    background-color: #f44236;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    button.search-btn:hover {
        background-color: #d43b2f;
    }

header nav {
    display: flex;
    align-items: center;
}

    header nav a {
        color: #000000;
        text-decoration: none;
        margin-left: 15px;
    }

        header nav a:hover {
            text-decoration: underline;
        }

main {
    width: 80%;
    padding: 15px 10%;
    margin: 50px 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
    gap: 30px; 
}

.product {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 20%;
    padding: 10px;
    margin-bottom: 15px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

    .product:hover {
        transform: translateY(-10px);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }

.product-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.product h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.buy-btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #f44236;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .buy-btn:hover {
        background-color: #d43b2f;
    }

/* Стилі для форми логіну */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFFFFF; 
}

.login-box {
    width: 400px;
    padding: 40px;
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

    .login-box h2 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #f44236; 
    }

    .login-box input[type="email"],
    .login-box input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .login-box button {
        width: 100%;
        padding: 10px;
        background-color: #f44236; /* Кнопка */
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
    }

        .login-box button:hover {
            background-color: #d43b2f;
        }

    .login-box a {
        display: block;
        margin-top: 15px;
        text-decoration: none;
        color: #333;
    }

        .login-box a:hover {
            text-decoration: underline;
        }
.main-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sidebar {
    width: 20%;
    padding: 20px;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc;
}

.category-list {
    list-style: none;
    padding-left: 0;
}

    .category-list li {
        margin-bottom: 10px;
    }

    .category-list a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
    }

        .category-list a:hover {
            color: #f44236;
        }

.products-container {
    width: 75%;
    padding: 20px;
}


